:root {
    --primary-color: #00ff4c;
    --secondary-color: #1a1a1a;
    --text-color: #ffffff;
    --accent-color: #ff4081;
    --card-bg: rgba(255, 255, 255, 0.1);
    --shadow-color: rgba(31, 38, 135, 0.37);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-click {
    pointer-events: none;
}

body {
    background: linear-gradient(135deg, #1a1c2d 0%, #2d1a4a 100%);
    color: #ffffff;
}

.glass-effect {
    background: var(--card-bg);
    backdrop-filter: blur(10px);
    border: 1px solid var(--card-bg);
    box-shadow: 0 8px 32px 0 var(--shadow-color);
}


.hero {
    padding-top: 50px;
}

.accordion {
    background-color: #f8f9fa;
    border-radius: 8px;
    width: 90%;
    margin-bottom: 60px;
}

.accordion-item {
    border: none;
    border-radius: 8px;
    overflow: hidden;
}

.accordion-button {
    background-color: #ffffff;
    border: none;
    color: #343a40;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.accordion-button:not(.collapsed) {
    background-color: #e9ecef;
    color: #000;
    transform: scale(1.02);
}

.accordion-body {
    background-color: #ffffff;
    color: #495057;
    padding: 20px;
    border-top: 1px solid #dee2e6;
}

.garantia {
    margin-top: 100px;
}

.garantia img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.faixa-atencao {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    /* Cor de fundo chamativa */
    color: var(--text-color);
    /* Cor do texto */
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    z-index: 1050;
    /* Para ficar acima de outros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra para destaque */
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #carouselExampleSlidesOnly {
        max-width: 600px;
    }

    .accordion {
        width: 70%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #carouselExampleSlidesOnly {
        max-width: 600px;
    }

    .accordion {
        width: 60%;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #carouselExampleSlidesOnly {
        max-width: 600px;
    }

    .accordion {
        width: 70%;
    }
}

;

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #carouselExampleSlidesOnly {
        max-width: 600px;
    }

    .accordion {
        width: 80%;
    }
}

;

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #carouselExampleSlidesOnly {
        max-width: 600px;
    }

    ;
}

;

/* Adicione prefers-reduced-motion para acessibilidade */
@media (prefers-reduced-motion: reduce) {
    .accordion-button {
        transition: none;
    }
}