:root {
    --primary-color: #00ff4c;
    --secondary-color: #1a1a1a;
    --text-color: #ffffff;
    --accent-color: #ff4081;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #1a1c2d 0%, #2d1a4a 100%);
    color: #ffffff;
}

.hero {
    padding-top: 50px;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.15); /* Fundo translúcido */
    border-radius: 10px; /* Cantos arredondados */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borda sutil */
    backdrop-filter: blur(10px); /* Desfoque do fundo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animação */
}

.glass-effect:hover {
    transform: translateY(-5px); /* Leve elevação ao passar o mouse */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Aumenta a sombra */
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    #carouselExampleSlidesOnly {
        max-width: 600px;    
    }; 
};

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #carouselExampleSlidesOnly {
        max-width: 600px;    
    }; 
};

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #carouselExampleSlidesOnly {
        max-width: 600px;    
    };
};

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #carouselExampleSlidesOnly {
        max-width: 70%; 
    };
};

    /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    #carouselExampleSlidesOnly {
        max-width: 70%; 
    };
};
